@import './variables.scss';

.map-container {
  position: relative;
}

#map {
  // cursor: pointer;
}

#map-tooltip {
  position: absolute;
  left: 20px;
  top: 20px;
  min-width: 150px;
  background-color: $background-secondary;
  color: $base;
  text-align: center;

  border-radius: 5px;
  padding: 15px 20px;
  visibility: hidden;

  .fi {
    margin-right: 7px;
  }

  p {
    margin-bottom: 10px;
  }

  p:last-child {
    font-style: italic;
    margin-bottom: 0;
  }
}
