@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');
@import './styles/reset.css';
@import './styles/map.scss';
@import './styles/inputs.scss';
@import './styles/modals.scss';
@import './styles/variables.scss';

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #fff;
  background-color: $background-main;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;

  > * {
    flex: 1 1 250px;
  }
  
  h1 {
    font-size: 32px;
    text-align: center;

    svg {
      margin-left: 3px;
      margin-bottom: -2px;
    }
  }

  .links {
    display: flex;
    gap: 30px;
    font-size: 18px;
    
    a {
      color: $base;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    svg {
      margin-bottom: -2px;
    }
  }

  .modal-control-button {
    float: right;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.placeholder-container {
  font-size: 24px;
  text-align: center;
  position: relative;

  p {
    width: max-content;
  }

   p:first-child {
    position: absolute;
    top: 0;
    left: -150px;
  }
}

.contents-container {
  min-width: 350px;
}

.button {
  color: $base;
  background-color: $background-secondary;
  border: 1px solid $accent-light;
  border-radius: $border-radius;
  padding: 7px 20px;
  cursor: pointer;

  &:hover {
    background-color: $accent-dark;
  }
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}
